.achievements {
    padding: 20px;
}

.achievements h1 {
    text-align: center;
    font-size: 2rem;
    color: #0077b6;
    font-weight: 500;
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
}

.sort-select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-button {
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px; 
    margin-left: 10px;
}

.add-button:hover {
    background-color: #005f73;
}

.achievements-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    background-color: #f9f9f9;
}

.achievements-form label {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.achievements-form input,
.achievements-form textarea {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%; 
}

.achievements-form button {
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px; 
    cursor: pointer;
    font-size: 16px; 
    align-self: flex-start;
}

.achievements-form button:hover {
    background-color: #005f73;
}

.achievements-table {
    width: 100%;
    border-collapse: collapse;
}

.achievements-table th, .achievements-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.achievements-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.achievements-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    text-align: left;
}

.achievements-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
    text-align: left;
}

.achievements-table tbody tr:hover {
    background-color: #f1f1f1;
}

.action-button {
    background: white;
    border: none;
    cursor: pointer;
    font-size: 16px; 
    color: #0077b6;
    margin-right: 5px;
}

.confirm-message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffcccc;
    border: 1px solid #ff0000;
    border-radius: 4px;
    text-align: center;
}

.confirm-message button {
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.confirm-message button:hover {
    background-color: #005f73;
}

.loader {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #0077b6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
