.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
  }
  
  label {
    font-weight: 500;
    font-size: 1rem;
  }
  
  input {
    border: 1px solid #cccccc;
    outline: none;
    padding: 10px 12px;
    margin-left: 4px;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  input[type=text]{
    padding: 8px;
  }
  input[type=number]{
    padding: 8px;
  }
  
  input:hover {
    border: 1px solid #adadad;
  }
  