.alumni-directory {
    padding: 20px;
}

.alumni-directory h1 {
    text-align: center;
    font-size: 2rem;
    color: #0077b6;
    font-weight: 500;
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.sort-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-button {
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.add-button:hover {
    background-color: #005f73;
}

.alumni-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
}

.alumni-form label {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.alumni-form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}

.alumni-form button {
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 14px 11px 14px;
    cursor: pointer;
    height: 34px;
    font-size: 16px;
    margin-top: 1.5rem;
}

.alumni-form button:hover {
    background-color: #005f73;
}

.alumni-table {
    width: 100%;
    border-collapse: collapse;
}

.alumni-table th, .alumni-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.alumni-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.alumni-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    text-align: left;
}

.alumni-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
    text-align: left;
}

.alumni-table tbody tr:hover {
    background-color: #f1f1f1;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #0077b6;
    margin-right: 5px;
}

.action-button:hover {
    color: #005f73;
}
